body{
text-align: center;
background: rgb(222, 211, 211);        
}
#ohh{
    height: 400px;
    width: 600px;
}
h3{
    color: rgb(35, 37, 183);
}
#lolj{
    height: 500px;
    width: 900px;
}
#ff{
    height: 500px;
    width: 900px;
}
h4{
    color: rgb(68, 214, 66);
    font-style: italic;
}
#plo{
    color: black;
}